:root {
    --drkblue: #040c24;
    --wht: #fffff4;
}

/* Reset some default margin and padding for consistency */
body {
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /*between 400-700 */
    font-style: normal;
    background-color: var(--wht);
    color: #333;
    overflow: hidden; /* Hide scrollbars */
}

canvas {
    
}

